.basket-item {
    width: 400px;
    margin-top: 15px;
    padding: 0 30px 15px 30px;
    /* padding-bottom: 10px; */
    border-bottom: .5px solid #ccc;
}

.basket-item__item-link {
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.basket-item__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.basket-item__body__image {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.basket-item__body__price {
    color: #1f1c1c;
    font-weight: 600;
    font-size: 15px;
}

.basket-item__body__price span {
    font-weight: 200;
    font-size: 14px;
}

.basket-item__body__delete-item {
    width: 50px;
    height: 20px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #1e5d98;
    border-width: 0;
    border-radius: 10px;
    color: #ececec;
    font-weight: 200;
    letter-spacing: -.5px;
    font-size: 12px;
}