.main-item {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    min-height: 400px;

    margin-top: 70px;

    .main-item__image {
        min-height: 100%;
        width: 600px;
        background-size: contain;
        background-repeat: no-repeat
    }

    .main-item__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        padding-top: 80px;
        padding-bottom: 80px;

        .main-item__info__name {
            font-size: 25px;
            font-weight: 700;
            color: #1f1f1f;
        }

        .main-item__info__description {
            width: 55%;

            padding: 20px;

            font-size: 14px;
            font-weight: 100;
            letter-spacing: 1.5px;
            color: #929292;

            border-top: .5px solid #464646;
            border-bottom: .5px solid #464646;
        }
        
        .main-item__info__price {
            font-size: 16px;
            font-weight: 300;
        }

        .main-item__info__learn-more-button {
            width: 180px;
            height: 35px;
            border-width: 0;
            border-radius: 5px;
            background-color: #2997ff;
            text-transform: uppercase;
            font-weight: 300;
            color: #f3f3f3;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                text-decoration: underline;
                background-color: #0061bd;
                color: #fff;
            }
        }
    }
}

