.sort {
    position: fixed;
    left: 0;
    right: 0;
    min-height: 40px;
    backdrop-filter: saturate(150%) blur(20px);
}

.sort-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px 50px;
    border-bottom: .5px solid #464646;
}

.sort-list__element {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.sort-list__element p {
    font-size: 12px;
    font-weight: 300;
}

.sort-list__element__input {
    min-width: 100px;
    height: 25px;
    margin-left: 20px;
}

.sort-list__element__pop-up {
    width: 100%;
    min-height: 100%;
    overflow: scroll;
    border: .5px solid #000;
    border-radius: 4px;
    background-color: #fff;
}

.sort-list__element__pop-up__element {
    width: 100%;
    padding: 4px 12px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.sort-list__element__pop-up__element:hover {
    padding-left: 7px;
    font-weight: 600;
    background-color: #00000020;
}

.sort-list__element__pop-up__element--active {
    padding: 4px 12px;
    font-size: 14px;
    background-color: #eaeaea;
    cursor: pointer;
}

.sort-list__element__pop-up--open {
    min-height: 100%;
    max-height: 250px;
}