.catalog-title {
    width: 100%;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #292929;
    text-align: center;
    margin-top: 50px;
}

.catalog-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 90%;
    margin-left: -100px;
    padding: 50px 80px;
}

.item-page__name {
    width: 100%;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #171717;
    margin-top: 50px;
}

.item-page__main-img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-grow: .6;
    margin-top: 70px;
    padding-bottom: 40px;
}

.item-page__img-list__main-img {
    height: max-content;
    max-height: 550px;
    margin-left: 60px;
}

.item-page__img-list-item {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.item-page__img-list-item:hover {
    border: 2px solid #ccc;
}

.item-page__img-list {
    padding-left: 5px;
    padding-right: 15px;
    max-height: 350px;
    overflow: scroll;
}

.item-page__item-main {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.item-page__price {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #1f1f1f;
    cursor: default;
}

.add-to-cart {
    display: inline-block;
    align-self: center;
}

.item-page__add-to-cart-button {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #2997ff;
    border-width: 0;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    letter-spacing: -.5px;
    font-size: 18px;
}