.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 100px;
    margin-top: 70px;

    width: 200px;

    .catalog-item__image {
        align-self: center;

        width: 150px;
        min-height: 150px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    .catalog-item__info {
        text-align: center;

        .catalog-item__title {
            margin-top: 4px;
            font-size: 15px;
            font-weight: 400;
            line-height: 18px;
        }

        .catalog-item__price {
            margin-top: 5px;
            font-size: 13px;
            font-weight: 100;
        }

        .catalog-item__learn-button {
            margin-top: 5px;
            padding: 7px 25px;

            border-radius: 2px;
            background-color: #a9a9a9;
            border-width: 0;

            text-transform: uppercase;
            font-weight: 300;
            font-size: 12px;
            color: #fff;

            cursor: pointer;
            transition: all .3s linear;

            &:hover {
                background-color: #888888;

                text-decoration: underline;
            }
        }
    }
    
}